<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Library Server</title>
</head>
<body>
    <h1>Library Server</h1>
    <h3>Welcome to the library server API</h3>
    <p>This server provides the following APIs</p>
    <ul>
        <li><a href="books">List of Books</a></li>
        <li><a href="users">List of Users</a></li>
        <li><a href="actuator/health">Health Actuator Endpoint</a></li>
        <li><a href="actuator">Actuator Endpoints</a></li>
    </ul>
</body>
</html>