<configuration debug="true">

    <conversionRule conversionWord="crlf"
                    converterClass="org.owasp.security.logging.mask.CRLFConverter" />
    <conversionRule conversionWord="mask"
                    converterClass="org.owasp.security.logging.mask.MaskingConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level ${PID} %logger{36} - %crlf(%mask) %n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>